.login_form{
    width: 602px;height:461px;
    background-color: #fff;
    margin: 0 auto;
    border:1px solid #ddd;
}
.login_top{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 48px;
    margin-bottom: 10px;
    color: #666666;

}
h2:active{
    color:#c9192e ;
    border-bottom: 2px solid;
    padding: 0px;
}
.input_margin{
    margin-left: 60px;

}
.longin_margin{

    margin-left: 41px;
}
.input_style{
    width:458px;
    height: 74px;
    color: #ddd;
    font-size: 16px;
    padding-left: 22px;
    margin-bottom: 22px;
}
.input_style1{
    /*display: none;*/
    width: 265px;
    height: 74px;
    margin-bottom: 22px;
    margin-right: 14px;
    padding-left: 22px;
    color: #ddd;
    float: left;
}
.span_font{
    width: 175px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: black;
    margin-top: 15px;
    margin-left: 10px;
    float: left;

}
.hide{
    display: none;
}
.a_font{
    color: #d2d2d2;
    font-size: 18px;
    font-family: "Franklin-Demi","冬青黑体","microsoft yahei";
}
.note{
    background-color: black;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.pw{
    margin-left: 461px;
    color: #dad2d4;
}
.button{
    margin-top: 18px;
}
.login{
    width:311px;
    height: 52px;
    color: white;
    margin-left: 60px;
    margin-right: 22px;
    background-color: #c9192e;
    border: none;
}
button:hover{
    background-color: black;
}
.login2{
    width:151px;
    height: 52px;
    background-color: black;
    color: white;
    border: none;
}
.other_login{
    display: flex;
    margin-top: 35px;
    margin-left: 60px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    font-family: "Franklin-Demi","冬青黑体","microsoft yahei";
}
.span1{
    margin-top: 5px;
}
.img_color{
    margin-left:10px;
}