
.container-full{
    background-color: #f1f2ed;
}
.about{
    width: 1300px;
    height: 69.6px;

}
.about_ul{
    display: flex;
    float: left;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 110px;

}
.about_li{
    font-size: 16px;
    color: #589bc6;
    margin-right: 30px;
}
.about_li:hover{
    color: #c8192e;
    text-decoration:none
}
.about_li1{
    font-size: 16px;
    color: #666666;
}
h2{
    font-weight: bold;
    text-align: center;
}
.title{
    display: flex;
    margin-left: 580px;
    margin-top: 25px;
    text-align: center;
}
.border-color{
    border: 1px solid #000000;
    width: 146px;
    height: 51px;
    margin-left: 10px;
}
.border-color1{
    width: 146px;
    height: 51px;
    margin-left: 10px;
}

.title a{

    line-height: 50px;
    font-size: 16px;
}
.about_title{
    font-weight: bolder;
    color: #000000;

}

.about_title:hover{
    color: #000000;
    text-decoration:none
}
.title-all{
    margin-top: 34px;
    margin-bottom: 20px;

}
.title1{
   margin-left: 320px;
    

}
.title2,.title3,.title4{
    margin-left: 220px;

}


.more_bottom{
    margin-bottom: 20px;
    margin-left: 260px;
}
.a1{
   
    color:#fff;
}
.a1:hover{
    text-decoration: none;
}

.more,.more1,.more2,.more3{
    width:144px;
    height: 50px;
    margin-right: 100px;
    background-color: black;
    color: white;
    border: none;
}
.more1{
    margin-left: 10px;
}
.more2{
    margin-left: 5px;
}
.more3{
    margin-left: 5px;
}
.center{
    margin-top: -130px;
    margin-left: 50px;
  }
  .center1{
    margin-top: -130px;
    margin-left: 75px;
  }
  .center2{
    margin-top: -130px;
    margin-left: 50px;
  }
  .center3{
    margin-top: -130px;
    margin-left: 100px;
  }
  .center4{
    margin-top: -130px;
    margin-left: 50px;
  }
  .center5{
    margin-top: -130px;
    margin-left: 55px;
  }
  .center6{
    margin-top: -130px;
    margin-left: 86px;
  }
  .center7{
    margin-top: -130px;
    margin-left: 56px;
  }
  .center8{
    margin-top: -130px;
    margin-left: 66px;
  }
  .center9{
    margin-top: -130px;
    margin-left: 66px;
  }
  .center10{
    margin-top: -130px;
    margin-left: 60px;
  }
  .center11{
    margin-top: -130px;
    margin-left: 60px;
  }
  .center12{
    margin-top: -130px;
    margin-left: 50px;
  }
  .center13{
    margin-top: -130px;
    margin-left: 55px;
  }
  .center14{
    margin-top: -130px;
    margin-left: 25px;
  }
  .center15{
    margin-top: -130px;
    margin-left: 65px;
  }
  .center16{
    margin-top: -130px;
    margin-left: 65px;
  }
  .center17{
    margin-top: -130px;
    margin-left: 35px;
  }
  .center18{
    margin-top: -130px;
    margin-left: 12px;
  }
  .center19{
    margin-top: -130px;
    margin-left: 65px;
  }
  .center20{
    margin-top: -130px;
    margin-left: 55px;
  }
  .center21{
    margin-top: -130px;
    margin-left: 55px;
  }
  .center22{
    margin-top: -130px;
    margin-left: 60px;
  }
  .center23{
    margin-top: -130px;
    margin-left: 70px;
  }
  .center24{
    margin-top: -130px;
    margin-left: 60px;
  }
  .center25{
    margin-top: -130px;
    margin-left: 35px;
  }
  .center26{
    margin-top: -130px;
    margin-left: 58px;
  }
  .center27{
    margin-top: -130px;
    margin-left: 62px;
  }
  .center28{
    margin-top: -130px;
    margin-left: 44px;
  }
  .center29{
    margin-top: -130px;
    margin-left: 39px;
  }
  .center30{
    margin-top: -130px;
    margin-left: 62px;
  }
  .center31{
    margin-top: -130px;
    margin-left: 42px;
  }
  .center32{
    margin-top: -130px;
    margin-left: 62px;
  }
  .center33{
    margin-top: -130px;
    margin-left: 48px;
  }
  .center34{
    margin-top: -130px;
    margin-left: 22px;
  }
  .center35{
    margin-top: -130px;
    margin-left: 62px;
  }
  .center36{
    margin-top: -130px;
    margin-left: 52px;
  }
  .center37{
    margin-top: -130px;
    margin-left: 42px;
  }
  .center38{
    margin-top: -130px;
    margin-left: 72px;
  }
  .center39{
    margin-top: -130px;
    margin-left: 52px;
  }
  .center, .center1, .center2, .center3, .center4, .center5, .center6, .center7, .center8, .center9,
  .center10, .center11, .center12, .center13, .center14, .center15, .center16, .center17, .center18, .center19,
  .center20, .center21, .center22, .center23, .center24, .center25, .center26, .center27, .center28, .center29,
  .center30, .center31, .center32, .center33, .center34, .center35, .center36, .center37, .center38, .center39{
    color: #fff;
    font-weight: bold;
    position: absolute;
    z-index: 20;
  }
  .gb>span:first-child{
    margin-top:50px;
    margin-left: 100px; 
  }
  .gb>span:last-child{
    margin-top:165px;
    margin-left: 83px; 
  }
  .gb1>span:first-child{
    margin-top:50px;
    margin-left: 110px; 
  }
  .gb1>span:last-child{
    margin-top:165px;
    margin-left: 65px; 
  }
  .gb2>span:first-child{
    margin-top:50px;
    margin-left: 105px;  
  }
  .gb2>span:last-child{
    margin-top:165px;
    margin-left: 75px;  
  }
  .gb3>span:first-child{
    margin-top:50px;
    margin-left: 105px;  
  }
  .gb4>span:first-child{
    margin-top:50px;
    margin-left: 110px; 
  }
  .gb4>span:last-child{
    margin-top:165px;
    margin-left: 85px; 
  }
  .gb5>span:first-child{
    margin-top:50px;
    margin-left: 105px; 
  }
  .gb5>span:last-child{
    margin-top:165px;
    margin-left: 70px; 
  }
  .gb6>span:first-child{
    margin-top:50px;
    margin-left: 97px; 
  }
  .gb6>span:last-child{
    margin-top:165px;
    margin-left: 70px; 
  }
  .gb7>span:first-child{
    margin-top:50px;
    margin-left: 105px; 
  }
  .gb8>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb8>span:last-child{
    margin-top:165px;
    margin-left: 85px; 
  }
  .gb9>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb9>span:last-child{
    margin-top:165px;
    margin-left: 55px; 
  }
  .gb10>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb10>span:last-child{
    margin-top:165px;
    margin-left: 75px; 
  }
  .gb11>span:first-child{
    margin-top:50px;
    margin-left:102px;
  }
  .gb12>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb12>span:last-child{
    margin-top:165px;
    margin-left: 85px; 
  }
  .gb13>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb13>span:last-child{
    margin-top:165px;
    margin-left: 55px;  
  }
  .gb14>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb14>span:last-child{
    margin-top:165px;
    margin-left: 75px; 
  }
  .gb15>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb15>span:last-child{
    margin-top:165px;
    margin-left: 75px; 
  }
  .gb16>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb16>span:last-child{
    margin-top:165px;
    margin-left: 85px; 
  }
  .gb17>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb17>span:last-child{
    margin-top:165px;
    margin-left: 56px; 
  }
  .gb18>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb18>span:last-child{
    margin-top:165px;
    margin-left: 76px; 
  }
  .gb19>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb19>span:last-child{
    margin-top:165px;
    margin-left: 70px; 
  }
  .gb20>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb20>span:last-child{
    margin-top:165px;
    margin-left: 85px; 
  }
  .gb21>span:first-child{
    margin-top:50px;
    margin-left:102px; 
  }
  .gb21>span:last-child{
    margin-top:165px;
    margin-left: 56px; 
  }
  .gb22>span:first-child{
    margin-top:50px;
    margin-left:98px;  
  }
  .gb22>span:last-child{
    margin-top:165px;
    margin-left: 70px; 
  }
  .gb23>span:first-child{
    margin-top:50px;
    margin-left: 100px;  
  }
  .gb24>span:first-child{
    margin-top:50px;
    margin-left:98px;  
  }
  .gb24>span:last-child{
    margin-top:165px;
    margin-left: 80px;  
  }
  .gb25>span:first-child{
    margin-top:50px;
    margin-left:103px;  
  }
  .gb25>span:last-child{
    margin-top:165px;
    margin-left: 55px; 
  }
  .gb26>span:first-child{
    margin-top:50px;
    margin-left:103px;  
  }
  .gb26>span:last-child{
    margin-top:165px;
    margin-left: 73px; 
  }
  .gb27>span:first-child{
    margin-top:50px;
    margin-left:103px;  
  }
  .gb27>span:last-child{
    margin-top:165px;
    margin-left: 73px; 
  }
  .gb28>span:first-child{
    margin-top:50px;
    margin-left:103px; 
  }
  .gb28>span:last-child{
    margin-top:165px;
    margin-left: 85px;  
  }
  .gb29>span:first-child{
    margin-top:50px;
    margin-left:103px;  
  }
  .gb29>span:last-child{
    margin-top:165px;
    margin-left: 55px;  
  }
  .gb30>span:first-child{
    margin-top:50px;
    margin-left:98px;  
  }
  .gb30>span:last-child{
    margin-top:165px;
    margin-left: 67px; 
  }
  .gb31>span:first-child{
    margin-top:50px;
    margin-left:95px;  
  }
  .gb31>span:last-child{
    margin-top:165px;
    margin-left: 85px; 
  }
  .gb32>span:first-child{
    margin-top:50px;
    margin-left:105px; 
  }
  .gb32>span:last-child{
    margin-top:165px;
    margin-left: 85px; 
  }
  .gb33>span:first-child{
    margin-top:50px;
    margin-left:105px; 
  }
  .gb33>span:last-child{
    margin-top:165px;
    margin-left: 55px; 
  }
  .gb34>span:first-child{
    margin-top:50px;
    margin-left:98px; 
  }
  .gb34>span:last-child{
    margin-top:165px;
    margin-left: 70px; 
  }
  .gb35>span:first-child{
    margin-top:50px;
    margin-left:98px; 
  }
  .gb35>span:last-child{
    margin-top:165px;
    margin-left: 70px; 
  }
  .gb36>span:first-child{
    margin-top:50px;
    margin-left:105px; 
  }
  .gb36>span:last-child{
    margin-top:165px;
    margin-left: 85px; 
  }
  .gb37>span:first-child{
    margin-top:50px;
    margin-left:105px; 
  }
  .gb37>span:last-child{
    margin-top:165px;
    margin-left: 55px; 
  }
  .gb38>span:first-child{  
    margin-top:50px;
    margin-left:95px; 
    
  }
  .gb38>span:last-child{
    margin-top:165px;
    margin-left: 70px; 
  }
  .gb39>span:first-child{ 
    margin-top:50px;
    margin-left:100px; 
     
  }
  .gb>span:first-child,.gb1>span:first-child,.gb2>span:first-child,.gb3>span:first-child,
  .gb4>span:first-child,.gb5>span:first-child,.gb6>span:first-child,.gb7>span:first-child,
  .gb8>span:first-child,.gb9>span:first-child,.gb10>span:first-child,.gb11>span:first-child,
  .gb12>span:first-child,.gb13>span:first-child,.gb14>span:first-child,.gb15>span:first-child,
  .gb16>span:first-child,.gb17>span:first-child,.gb18>span:first-child,.gb19>span:first-child,
  .gb20>span:first-child,.gb21>span:first-child,.gb22>span:first-child,.gb23>span:first-child,
  .gb24>span:first-child,.gb25>span:first-child,.gb26>span:first-child,.gb27>span:first-child,
  .gb28>span:first-child,.gb29>span:first-child,.gb30>span:first-child,.gb31>span:first-child,
  .gb32>span:first-child,.gb33>span:first-child,.gb34>span:first-child,.gb35>span:first-child,
  .gb36>span:first-child,.gb37>span:first-child,.gb38>span:first-child,.gb39>span:first-child,
  .gb>span:last-child,.gb1>span:last-child,.gb2>span:last-child,.gb3>span:last-child,
  .gb4>span:last-child,.gb5>span:last-child,.gb6>span:last-child,.gb7>span:last-child,
  .gb8>span:last-child,.gb9>span:last-child,.gb10>span:last-child,.gb11>span:last-child,
  .gb12>span:last-child,.gb13>span:last-child,.gb14>span:last-child,.gb15>span:last-child,
  .gb16>span:last-child,.gb17>span:last-child,.gb18>span:last-child,.gb19>span:last-child,
  .gb20>span:last-child,.gb21>span:last-child,.gb22>span:last-child,.gb23>span:last-child,
  .gb24>span:last-child,.gb25>span:last-child,.gb26>span:last-child,.gb27>span:last-child,
  .gb28>span:last-child,.gb29>span:last-child,.gb30>span:last-child,.gb31>span:last-child,
  .gb32>span:last-child,.gb33>span:last-child,.gb34>span:last-child,.gb35>span:last-child,
  .gb36>span:last-child,.gb37>span:last-child,.gb38>span:last-child,.gb39>span:last-child{
    position: absolute;
    color: #fff;
    font-weight:bold;
  }
  .gb,.gb1,.gb2,.gb3,.gb4,.gb5,.gb6,.gb7,.gb8,.gb9,.gb10,.gb11,.gb12,.gb13,.gb14,
  .gb15,.gb16,.gb17,.gb18,.gb19,.gb20,.gb21,.gb22,.gb23,.gb24,.gb25,.gb26,.gb27,
  .gb28,.gb29,.gb30,.gb31,.gb32,.gb33,.gb34,.gb35,.gb36,.gb37,.gb38,.gb39{
    width: 238px;
    height: 238px;
    background-color: rgba(255,0,0);
    position: absolute;
    margin-top: -242px;
    z-index: 10;
    opacity:0;
  }
   .gb:hover,.gb1:hover,.gb2:hover,.gb3:hover,.gb4:hover,.gb5:hover,
   .gb6:hover,.gb7:hover,.gb8:hover,.gb9:hover,.gb10:hover,.gb11:hover,.gb12:hover,
   .gb13:hover,.gb14:hover,.gb15:hover,.gb16:hover,.gb17:hover,.gb18:hover,.gb19:hover,
   .gb20:hover,.gb21:hover,.gb22:hover,.gb23:hover,.gb24:hover,.gb25:hover,.gb26:hover,
   .gb27:hover,.gb28:hover,.gb29:hover,.gb30:hover,.gb31:hover,.gb32:hover,.gb33:hover,
   .gb34:hover, .gb35:hover, .gb36:hover, .gb37:hover, .gb38:hover, .gb39:hover{
    opacity:.5
  } 

  .block,.block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8,.block9{
      display: flex;
      margin-left: 210px;
      margin-bottom: 20px;
  }
  .image1,.image2,.image3,.image4{
      margin-right: 20px;
  }